#container {
	width: 1275px;
	height: 875px;
	display: inline-block;
    overflow-y:auto;
}

#panel {
	width: 600px;
	height: 875px;
	float: right;
	background: rgba(240, 248, 255, 0.5);
	border: 1px solid rgba(85,85,85,0.25);
	z-index: -1;
	overflow-y:auto;
}

#stat-ul {
	float: right;
	margin-right: 100px;
}

#contrib-panel {
	width: 275px;
	height: 375px;
	overflow-y:auto;
	display: inline-block;
}

#stat-panel {
	padding-left: 15px;
	width: 275px;
	height: 375px;
	overflow-y:auto;
	display: inline-block;
}


#settings {
	padding: 5px;
}

.name-label {
	width: 125px;
}

.name-label:hover {
	opacity: 0.75;
	cursor: pointer;
}

.time-settings {
}

h4 {
	padding: 2px;
	background-color: background: rgba(211,211,211,0.5);
}

svg {
    background: rgba(211,211,211,0.25);
}

ul {
	display: inline-block;
}