/*** Styles specific to the D3 collapsible tree ***/
.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

/*** Custom styles for the overall frontend panel ***/
#container {
	width: 1275px;
	height: 875px;
	display: inline-block;
    overflow-y:auto;
}

#panel {
	width: 600px;
	height: 875px;
	float: right;
	background: rgba(240, 248, 255, 0.5);
	border: 1px solid rgba(85,85,85,0.25);
	z-index: -1;
	overflow-y:auto;
}

#stat-ul {
	float: right;
	margin-right: 100px;
}

#contrib-panel {
	width: 300px;
	height: 375px;
	overflow-y:auto;
	display: inline-block;

	border-right: 1px solid rgba(85,85,85,0.25);
}

#stat-panel {
	padding-left: 15px;
	width: 250px;
	height: 375px;
	overflow-y:auto;
	display: inline-block;
}


#settings {
	padding: 5px;
}

#repo-name {
	background-color: rgba(135, 206, 250, 0.15);
	padding: 5px;
	border-bottom: 1px solid rgba(85,85,85,0.25);
	border-top: 1px solid rgba(85,85,85,0.25);
}

#input {
	padding: 5px;
}

.graph-svg {
	background-color: rgba(175, 196, 225, 0.1);
}

.info-svg {
	fill: transparent;
}

.name-label {
	width: 125px;
}

.name-label:hover {
	opacity: 0.75;
	cursor: pointer;
}

.time-settings {
	display: inline-block;
	float: right;
}

.mode-settings {
	display: inline-block;

}

.svg {
	background-color: rgba(240, 248, 255, 0.5);
}

label {
	font-family: "Verdana";
}

h3 {
	font-family: "Verdana";
}

h4 {
	padding: 2px;
	background-color: background: rgba(211,211,211,0.5);
	font-family: "Verdana";
}

svg {
    background: rgba(211,211,211,0.25);
}

ul {
	display: inline-block;
}

li {
	font-family: "Verdana";
}
